.homepage-content .row-fluid {
  padding-bottom: 1em;
  margin-bottom: 3em;
  text-align: center;
  border-bottom: 1px solid #efefef;
}
.homepage-content h2,
.homepage-content .interstitial h3  {
  text-align: center;
  color: #f48030;
  font-size: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.homepage-content h4 {
  text-align: center;
  color: #666;
  font-size: 21px;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  font-weight: 500;
  margin-bottom: 2em;
}
.homepage-content .span4 {
  padding: 1em;
}
.homepage-content .span4 img {
  height: 3em;
  margin-bottom: 0.75em;
}
.homepage-content .span4 h5 {
  margin-bottom: 0.25em;
}
.homepage-content .span4 p {
  font-size: 17px;
}
.homepage-content .interstitial h3 {
  margin-bottom: 0.25em;
}
.homepage-content .interstitial p {
  margin-bottom: 0.75em;
}
.homepage-content .interstitial a.btn {
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 2em;
  border-none;
  text-transform: uppercase;
  background-color: #bd261d;
  padding: 10px 40px 10px;
  color: #fff;
  text-shadow: none;
}