.homepage-content .row-fluid {
  padding-bottom: 1em;
  margin-bottom: 3em;
  text-align: center;
}
.homepage-content section {
  background-color: #edf1f4;
  padding-top: 2em;
}
.homepage-content .span4 {
  padding: 1em;
}
.homepage-content .span4 img.icon {
  height: 3em;
  margin-bottom: 0.75em;
}
.homepage-content .span4 h5 {
  margin-bottom: 0.25em;
  color: #333;
}
.homepage-content .span4 h5 a {
  color: #333;
}
.homepage-content .span4 p {
  font-size: 17px;
}
.homepage-content h2,
.homepage-content .interstitial h3 {
  text-align: center;
  color: #f48030;
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 0.75em;
}
.homepage-content h2 {
  margin-bottom: 0.25em;
}
.homepage-content h4 {
  text-align: center;
  color: #666;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.homepage-content .interstitial h3,
.homepage-content .interstitial h5 {
  margin-bottom: 0.25em;
  max-width: 70%;
  margin: 0 auto;
}
.homepage-content .interstitial h5 a {
  color: #333;
}
.homepage-content .interstitial p {
  max-width: 70%;
  margin: 0 auto 1em;
}
.homepage-content #showcase .row-fluid {
  margin-bottom: 1em;
}
.homepage-content #showcase .row-fluid img:hover {
  opacity: 0.85;
}
@media (max-width: 780px) {
  .homepage-content .row-fluid .span4 {
    clear: both;
    width: 95%;
    margin: 0 2.5%;
  }
  .homepage-content news p {
    font-size: 15px;
  }
  .homepage-content #showcase h4 {
    max-width: 90%;
    margin: 0 auto 1em;
  }
}
