.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  filter: fliph;
  /*IE*/

}
#page {
  max-width: 100%;
  padding: 0;
}
#main {
  margin: 0;
}
#main .page-content p {
  font-size: 1.05em;
}
.normal .row-fluid {
  margin: 0 0 4em 0;
}
.normal .row-fluid .page-content p {
  font-family: "leitura-news", georgia, serif;
  line-height: 1.7em;
}
.normal h3 span {
  color: #555555;
}
#quick-links {
  text-align: center;
}
#quick-links h4 {
  color: #555555;
  text-transform: uppercase;
}
#quick-links li {
  font-size: 1.25em;
  display: inline-block;
  margin: 0 20px 0 0;
}
#news-and-benefits.row-fluid .widget {
  padding: 0;
}
#news-and-benefits.row-fluid .largo-recent-posts span.sep,
#news-and-benefits.row-fluid .largo-recent-posts span.by-author,
#news-and-benefits.row-fluid .largo-recent-posts span.edit-link {
  display: none;
}
#news-and-benefits.row-fluid .largo-recent-posts .entry-date:before {
  content: "Posted ";
}
#news-and-benefits.row-fluid .largo-recent-posts .entry-date,
#news-and-benefits.row-fluid .largo-recent-posts .entry-date:before {
  font-weight: 200;
  font-size: 18px;
}
#news-and-benefits.row-fluid .largo-recent-posts h5 {
  margin: 0;
  font-size: 22px;
}
#news-and-benefits.row-fluid .largo-recent-posts h5 a {
  color: #555555;
}
#news-and-benefits.row-fluid .largo-recent-posts .byline {
  color: #aaaaaa;
}
#news-and-benefits.row-fluid .largo-recent-posts .post-lead {
  margin-bottom: 1.7em;
}
#news-and-benefits.row-fluid #benefits ul {
  margin: 0;
  padding: 0;
}
#news-and-benefits.row-fluid #benefits li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin: 0 0 1.5em 0;
}
#news-and-benefits.row-fluid #benefits li a {
  color: #555555;
}
#news-and-benefits.row-fluid #benefits li a:hover {
  color: #22c2f3;
}
#news-and-benefits.row-fluid #benefits .learn-more {
  font-size: 18px;
}
#membership-callout .content img {
  width: 9%;
  margin: 1em 6em 1em 3em;
}
#membership-callout .content-inner {
  float: left;
}
#membership-callout .btn {
  background: #dd484a;
}
#membership-callout .btn:hover {
  background: #d82d2f;
}
