body,
.btn-primary,
.btn,
.navbar,
h1,
h2,
h3,
h4,
h5,
.widgettitle,
input,
button,
select,
textarea {
  font-family: "effra", helvetica, sans-serif;
  color: #555555;
}
h1 {
  color: #333333;
}
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="url"],
input[type="search"] {
  border-radius: 0;
}
.entry-content p,
.entry-content ul,
.entry-content ol {
  font-family: "leitura-news", georgia, serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
.widgettitle {
  font-weight: 500;
}
a {
  color: #09c9ff;
}
a:hover {
  color: #3cd4ff;
}
.btn {
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 24px;
  background-color: #09c9ff;
  color: #fff;
  border-radius: 0;
}
.btn:hover {
  background-color: #00b5e8;
  color: #fff;
}
.btn.btn-primary {
  color: #fff;
  background-color: #f77710;
}
.btn.btn-primary:hover {
  background-color: #df6807;
}
.btn.btn.search-submit {
  padding: 4px 10px;
}
.donate-btn a:hover {
  color: #fff;
}
#top-nav li {
  padding-top: 2px;
}
#top-nav li.main_site_home_link {
  padding-top: 0;
  font-size: 16px;
  font-weight: bold;
}
#top-nav li.main_site_home_link a {
  color: #09c9ff;
}
.dropdown-menu .main_site_home_link {
  display: none;
}
.footer-bg {
  background-color: #555555;
}
#site-footer .widgettitle,
#site-footer li.menu-label,
#menu-footer-navigation li,
#supplementary ul.menu li {
  border-bottom: none;
}
#supplementary div:nth-child(3) {
  margin-top: 2.015em;
}
#supplementary div:first-child {
  padding: 10px 30px 0 0;
}
#supplementary div.menu-footer-2-container {
  padding: 0;
}
#site-footer a {
  color: #aaaaaa;
}
#site-footer a:hover {
  color: #09c9ff;
}
#site-footer .widgettitle,
#site-footer li.menu-label {
  color: #fafafa;
  font-weight: 500;
}
#site-footer .widgettitle a,
#site-footer li.menu-label a {
  color: #fafafa;
}
#site-footer #footer-social {
  display: block;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
}
#site-footer #footer-social li {
  float: none;
  display: inline-block;
}
#site-footer #footer-social li i {
  color: #fff;
  background-color: #909799;
  padding: 14px;
  border-radius: 30px;
  margin: 0 4px;
}
#site-footer #footer-social li i:hover {
  background-color: #fff;
  color: #909799;
}
#site-footer #footer-social li i.icon-github:hover {
  color: #909799;
}
@media (max-width: 768px) {
  #site-footer #footer-social {
    float: none;
  }
  #site-footer #footer-social li {
    min-height: 56px;
  }
  #site-footer #footer-social li i {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #site-footer img[alt="INN logo"] {
    width: 400px;
  }
}
@media (max-width: 480px) {
  #site-footer img[alt="INN logo"] {
    max-width: 75%;
    padding: 2em 0;
  }
}
#site-footer .widget.widget_sp_image {
  margin-top: 1em;
}
#menu-footer-navigation,
#supplementary ul.menu {
  font-family: "effra", helvetica, sans-serif;
}
#supplementary {
  border-bottom: none;
  padding-top: 3em;
  margin-bottom: 0;
}
#boilerplate {
  text-align: center;
  border-top: none;
}
#boilerplate .span6 {
  margin: 0 auto;
  float: none;
}
#boilerplate .span6.right {
  text-align: center;
}
#boilerplate .copyright,
#boilerplate .menu,
#boilerplate .footer-bottom {
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  #site-footer {
    text-align: center;
  }
  #site-footer img.alignleft {
    float: none;
    margin: 0 auto 1.5em;
  }
  #site-footer p,
  #site-footer li {
    font-size: 15px;
    line-height: 1.8;
  }
  #boilerplate .copyright,
  #boilerplate .menu,
  #boilerplate .footer-bottom {
    margin-bottom: 1.5em;
  }
  #supplementary {
    padding-top: 1em;
  }
  #supplementary div:nth-child(2),
  #site-footer #supplementary div:nth-child(2) .widget,
  #site-footer #supplementary div:nth-child(2) ul.menu {
    margin-bottom: 0;
  }
  #supplementary div:nth-child(3) {
    margin-top: 0;
  }
  #supplementary div:first-child {
    padding: 0;
  }
  #menu-footer-navigation li,
  #supplementary ul.menu li {
    font-size: 19px;
    margin-bottom: 8px;
  }
  #site-footer .widget_nav_menu .widgettitle {
    font-size: 21px;
    margin-bottom: 0.5em;
  }
}
.footer-credit-padding-inn-logo-missing {
  margin-top: 0;
}
.top-tag {
  font-weight: 300;
}
.stories h2.entry-title {
  font-size: 24px;
  margin-bottom: 0.5em;
}
.stories h2.entry-title a {
  color: #555555;
}
.stories h2.entry-title a:hover {
  color: #09c9ff;
}
.stories h5.byline {
  display: none;
}
.type-pull-quote {
  border-left: 1px solid #aaaaaa;
  padding-left: 40px;
  color: #555555;
}
@media (max-width: 768px) {
  .type-pull-quote {
    padding: 20px 10px;
    text-align: center;
    border: none;
    border-top: 3px solid #555555;
    border-bottom: 3px solid #555555;
    margin: 0 auto 1em;
    max-width: 90%;
  }
}
#breadcrumbs {
  font-family: "effra", helvetica, sans-serif;
  font-weight: 700;
}
#site-header,
.home #site-header {
  min-height: 0;
}
#main {
  margin-top: 8px;
}
#breadcrumbs {
  margin-bottom: 24px;
}
#branding img {
  margin: 24px auto 18px;
  display: block;
  max-width: 400px;
  padding: 0 5%;
  width: 90%;
}
body.normal.page #content.guide-page {
  margin-left: 0;
}
.guide-page .author-posts-link {
  display: none;
}
.guide-page .entry-content .widget {
  padding: 15px 0;
}
.guide-page .pager a {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.guide-page .pager h5.top-page {
  margin-bottom: 0;
  font-size: 21px;
}
.guide-page .toggle-nav-bar {
  display: none;
}
.guide-page .guide-nav {
  padding: 20px;
  background-color: #edf1f4;
}
.guide-page .guide-nav h4 {
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.guide-page .guide-nav h4 a {
  color: #555555;
}
.guide-page .guide-nav .current_page_item {
  font-weight: bold;
}
.guide-page .guide-nav .current_page_item .children {
  font-weight: normal;
}
.guide-page .guide-author {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #909799;
}
.guide-page .author-box a {
  color: #909799;
}
.guide-page .author-box h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.guide-page .author-box h3 a {
  color: #000;
}
.guide-page .author-box h5 {
  margin-bottom: 8px;
}
.guide-page .author-box ul {
  padding: 0;
  margin: 0;
}
.guide-page .author-box .author-posts-link {
  display: none;
}
@media screen and (max-width: 782px) {
  .guide-page .guide-nav {
    width: 100%;
    padding: 0;
  }
  .guide-page .guide-nav .container {
    margin: 5px 10px;
  }
  .guide-page .guide-nav .guide-tree,
  .guide-page .guide-nav .resources {
    display: none;
  }
  .guide-page .guide-nav .toggle-nav-bar {
    display: block;
    margin-top: 0;
  }
  .guide-page .guide-nav h4 {
    font-size: 21px;
    margin: 0.1em 0;
    color: black;
  }
  .guide-page .guide-nav ul {
    margin: 0 -10px 0 44px;
  }
  .guide-page .guide-nav li {
    display: block;
    float: none;
  }
  .guide-page .guide-nav li > a {
    color: #09c9ff;
    padding: 6px 10px;
  }
  .guide-page .guide-nav .resources h4 {
    margin-left: 46px;
  }
  .guide-page article.span9 {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .guide-page article.span9 .entry-content h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .guide-page article.span9 .entry-content h3.guide-author {
    margin-bottom: 0;
  }
  .guide-page .pager .next,
  .guide-page .pager .previous {
    width: 100%;
    margin-bottom: 8px;
  }
}
.guide-resources {
  margin-left: 0;
}
.guide-resources li {
  display: block;
}
.guide-resources a {
  word-wrap: break-word;
  word-break: break-word;
}
.guide-resources .attachment-meta {
  white-space: nowrap;
}
.guide-resources i {
  -webkit-font-smoothing: antialiased;
}
.guide-resources .icon-picture {
  color: cadetblue;
}
.guide-resources .icon-play {
  color: crimson;
}
.guide-resources .icon-table {
  color: forestgreen;
}
.guide-resources .icon-doc-text {
  color: mediumblue;
}
.guide-resources .icon-doc-text-inv {
  color: firebrick;
}
.guide-resources .icon-download {
  color: indigo;
}
@media screen and (max-width: 768px) {
  #breadcrumbs {
    display: none;
  }
}
