@import "../../../../inn/less/variables.less";
@largoorange: #f48030;
@largoyellow: #ffcf73;

.homepage-content {
  .row-fluid {
    padding-bottom: 1em;
    margin-bottom: 3em;
    text-align: center;
  }
  section {
    background-color: @xltgray;
    padding-top: 2em;
  }
  .span4 {
    padding: 1em;
    img.icon {
      height: 3em;
      margin-bottom: 0.75em;
    }
    h5 {
      margin-bottom: 0.25em;
      color: #333;
      a {
	    color: #333;
      }
    }
    p {
      font-size: 17px;
    }
  }
  h2,
  .interstitial h3 {
    text-align: center;
    color: @largoorange;
    font-size: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.75em;
  }
  h2 {
    margin-bottom: 0.25em;
  }
  h4 {
    text-align: center;
    color: #666;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 1.5em;
  }
  .interstitial {
    h3, h5 {
      margin-bottom: 0.25em;
      max-width: 70%;
      margin: 0 auto;
    }
    h5 a {
	  color: #333;
    }
    p {
      max-width: 70%;
      margin: 0 auto 1em;
    }
  }
  #showcase .row-fluid {
    margin-bottom: 1em;
    img:hover {
	  opacity: 0.85;
    }
  }
  @media (max-width: 780px) {
    .row-fluid .span4 {
	  clear: both;
	  width: 95%;
	  margin: 0 2.5%;
    }
    news p {
      font-size: 15px;
    }
    #showcase h4 {
      max-width: 90%;
      margin: 0 auto 1em;
    }
  }
}
