@innblue: #2275be;
@innltblue: #90bfe7;
@aqua: #28C1DB;
@inngray: #bbb;
@ltgray: #efefef;
@dkgray: #333;
@largoorange: #f48030;
@largoyellow: #ffcf73;

.homepage-content {
  .row-fluid {
    padding-bottom: 1em;
    margin-bottom: 3em;
    text-align: center;
  }
  section {
    background-color: #efefef;
    padding-top: 2em;
  }
  .span4 {
    padding: 1em;
    img {
      height: 3em;
      margin-bottom: 0.75em;
    }
    h5 {
      margin-bottom: 0.25em;
      a {
	    color: #333;
      }
    }
    p {
      font-size: 17px;
    }
  }
  h2,
  .interstitial h3 {
    text-align: center;
    color: @largoorange;
    font-size: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.75em;
  }
  h4 {
    text-align: center;
    color: #666;
    font-size: 21px;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    font-weight: 500;
    margin-bottom: 2em;
  }
  .interstitial {
    h3, h5 {
      margin-bottom: 0.25em;
      max-width: 70%;
      margin: 0 auto;
    }
    h5 a {
	  color: #333;
    }
    p {
      max-width: 70%;
      margin: 0 auto;
    }
    a.btn {
      font-size: 21px;
      font-weight: 800;
      margin-bottom: 2em;
      border: none;
      text-transform: uppercase;
      background-color: @aqua;
      margin-top: 0.5em;
      padding: 10px 40px 10px;
      color: #fff;
      text-shadow: none;
    }
  }
}