body,
.btn-primary,
.btn,
.navbar,
h1,
h2,
h3,
h4,
h5,
.widgettitle,
input,
button,
select,
textarea {
  font-family: "effra", helvetica, sans-serif;
  color: #555555;
}
h1 {
  color: #333333;
}
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="url"],
input[type="search"] {
  border-radius: 0;
}
.entry-content p,
.entry-content ul,
.entry-content ol {
  font-family: "leitura-news", georgia, serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
.widgettitle {
  font-weight: 500;
}
a {
  color: #09c9ff;
}
a:hover {
  color: #3cd4ff;
}
.btn {
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 24px;
  background-color: #09c9ff;
  color: #fff;
  border-radius: 0;
}
.btn:hover {
  background-color: #00b5e8;
  color: #fff;
}
.btn.btn-primary {
  color: #fff;
  background-color: #f77710;
}
.btn.btn-primary:hover {
  background-color: #df6807;
}
.btn.btn.search-submit {
  padding: 4px 10px;
}
.donate-btn a:hover {
  color: #fff;
}
#top-nav li {
  padding-top: 2px;
}
#top-nav li.main_site_home_link {
  padding-top: 0;
  font-size: 16px;
  font-weight: bold;
}
#top-nav li.main_site_home_link a {
  color: #09c9ff;
}
.dropdown-menu .main_site_home_link {
  display: none;
}
.navbar {
  margin-bottom: 0;
}
.navbar li.home-icon > a img {
  height: 58px;
}
.footer-bg {
  background-color: #555555;
}
#site-footer .widgettitle,
#site-footer li.menu-label,
#menu-footer-navigation li,
#supplementary ul.menu li {
  border-bottom: none;
}
#supplementary div:nth-child(3) {
  margin-top: 2.015em;
}
#supplementary div:first-child {
  padding: 10px 30px 0 0;
}
#supplementary div.menu-footer-2-container {
  padding: 0;
}
#site-footer a {
  color: #aaaaaa;
}
#site-footer a:hover {
  color: #09c9ff;
}
#site-footer .widgettitle,
#site-footer li.menu-label {
  color: #fafafa;
  font-weight: 500;
}
#site-footer .widgettitle a,
#site-footer li.menu-label a {
  color: #fafafa;
}
#site-footer #footer-social {
  display: block;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
}
#site-footer #footer-social li {
  float: none;
  display: inline-block;
}
#site-footer #footer-social li i {
  color: #fff;
  background-color: #909799;
  padding: 14px;
  border-radius: 30px;
  margin: 0 4px;
}
#site-footer #footer-social li i:hover {
  background-color: #fff;
  color: #909799;
}
#site-footer #footer-social li i.icon-github:hover {
  color: #909799;
}
@media (max-width: 768px) {
  #site-footer #footer-social {
    float: none;
  }
  #site-footer #footer-social li {
    min-height: 56px;
  }
  #site-footer #footer-social li i {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #site-footer img[alt="INN logo"] {
    width: 400px;
  }
}
@media (max-width: 480px) {
  #site-footer img[alt="INN logo"] {
    max-width: 75%;
    padding: 2em 0;
  }
}
#site-footer .widget.widget_sp_image {
  margin-top: 1em;
}
#menu-footer-navigation,
#supplementary ul.menu {
  font-family: "effra", helvetica, sans-serif;
}
#supplementary {
  border-bottom: none;
  padding-top: 3em;
  margin-bottom: 0;
}
#boilerplate {
  text-align: center;
  border-top: none;
}
#boilerplate .span6 {
  margin: 0 auto;
  float: none;
}
#boilerplate .span6.right {
  text-align: center;
}
#boilerplate .copyright,
#boilerplate .menu,
#boilerplate .footer-bottom {
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  #site-footer {
    text-align: center;
  }
  #site-footer img.alignleft {
    float: none;
    margin: 0 auto 1.5em;
  }
  #site-footer p,
  #site-footer li {
    font-size: 15px;
    line-height: 1.8;
  }
  #boilerplate .copyright,
  #boilerplate .menu,
  #boilerplate .footer-bottom {
    margin-bottom: 1.5em;
  }
  #supplementary {
    padding-top: 1em;
  }
  #supplementary div:nth-child(2),
  #site-footer #supplementary div:nth-child(2) .widget,
  #site-footer #supplementary div:nth-child(2) ul.menu {
    margin-bottom: 0;
  }
  #supplementary div:nth-child(3) {
    margin-top: 0;
  }
  #supplementary div:first-child {
    padding: 0;
  }
  #menu-footer-navigation li,
  #supplementary ul.menu li {
    font-size: 19px;
    margin-bottom: 8px;
  }
  #site-footer .widget_nav_menu .widgettitle {
    font-size: 21px;
    margin-bottom: 0.5em;
  }
}
.footer-credit-padding-inn-logo-missing {
  margin-top: 0;
}
.top-tag {
  font-weight: 300;
}
.stories h2.entry-title {
  font-size: 24px;
  margin-bottom: 0.5em;
}
.stories h2.entry-title a {
  color: #555555;
}
.stories h2.entry-title a:hover {
  color: #09c9ff;
}
.stories h5.byline {
  display: none;
}
.type-pull-quote {
  border-left: 1px solid #aaaaaa;
  padding-left: 40px;
  color: #555555;
}
@media (max-width: 768px) {
  .type-pull-quote {
    padding: 20px 10px;
    text-align: center;
    border: none;
    border-top: 3px solid #555555;
    border-bottom: 3px solid #555555;
    margin: 0 auto 1em;
    max-width: 90%;
  }
}
#topics-bar ul li.menu-label {
  color: #909799;
}
.entry-title a {
  color: #555555;
}
.entry-content h3 {
  font-weight: 700;
}
.entry-content h3 strong {
  font-weight: 900;
}
#sidebar .widget-area {
  padding-left: 40px;
}
#site-header {
  margin-bottom: 0;
}
#site-header img {
  max-width: 400px;
}
#site-header .newsletter-signup {
  width: 262px;
  color: #666;
  top: 4px;
  right: 0;
  margin-left: 20px;
  z-index: 999;
}
#site-header .newsletter-signup form {
  clear: both;
  background: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
#site-header .newsletter-signup form button,
#site-header .newsletter-signup form input {
  margin: 0 0 8px;
}
#site-header .newsletter-signup form input[type="text"],
#site-header .newsletter-signup form input[type="email"] {
  width: 226px;
}
#site-header .newsletter-signup form label {
  color: #666;
  font-size: 16px;
}
#site-header .newsletter-signup .first_name,
#site-header .newsletter-signup .last_name,
#site-header .newsletter-signup .submit {
  display: none;
}
#site-header .newsletter-signup .error {
  color: #666;
  font-size: 12px;
  display: none;
}
@media only screen and (max-width: 850px) {
  #site-header .newsletter-signup {
    display: none;
  }
}
@font-face {
  font-family: 'fontello';
  src: url("fontello/font/fontello.eot");
  src: url("fontello/font/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/font/fontello.woff") format('woff'), url("fontello/font/fontello.ttf") format('truetype'), url("fontello/font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-heart:before {
  content: '\41';
}
/* 'A' */
.icon-heart-empty:before {
  content: '\42';
}
/* 'B' */
.icon-star:before {
  content: '\43';
}
/* 'C' */
.icon-star-empty:before {
  content: '\44';
}
/* 'D' */
.icon-ok:before {
  content: '\45';
}
/* 'E' */
.icon-cancel:before {
  content: '\46';
}
/* 'F' */
.icon-plus:before {
  content: '\47';
}
/* 'G' */
.icon-minus:before {
  content: '\48';
}
/* 'H' */
.icon-help:before {
  content: '\49';
}
/* 'I' */
.icon-menu:before {
  content: '\4c';
}
/* 'L' */
.icon-search:before {
  content: '\4d';
}
/* 'M' */
.icon-home:before {
  content: '\50';
}
/* 'P' */
.icon-link:before {
  content: '\51';
}
/* 'Q' */
.icon-tag:before {
  content: '\52';
}
/* 'R' */
.icon-tags:before {
  content: '\53';
}
/* 'S' */
.icon-download:before {
  content: '\54';
}
/* 'T' */
.icon-print:before {
  content: '\55';
}
/* 'U' */
.icon-comment:before {
  content: '\56';
}
/* 'V' */
.icon-chat:before {
  content: '\57';
}
/* 'W' */
.icon-phone:before {
  content: '\58';
}
/* 'X' */
.icon-headphones:before {
  content: '\59';
}
/* 'Y' */
.icon-play:before {
  content: '\60';
}
/* '`' */
.icon-spinner:before {
  content: '\61';
}
/* 'a' */
.icon-gplus:before {
  content: '\62';
}
/* 'b' */
.icon-pinterest:before {
  content: '\63';
}
/* 'c' */
.icon-cc:before {
  content: '\64';
}
/* 'd' */
.icon-flickr:before {
  content: '\65';
}
/* 'e' */
.icon-linkedin:before {
  content: '\66';
}
/* 'f' */
.icon-rss:before {
  content: '\67';
}
/* 'g' */
.icon-twitter:before {
  content: '\68';
}
/* 'h' */
.icon-youtube:before {
  content: '\69';
}
/* 'i' */
.icon-facebook:before {
  content: '\70';
}
/* 'p' */
.icon-github:before {
  content: '\71';
}
/* 'q' */
.icon-itunes:before {
  content: '\72';
}
/* 'r' */
.icon-tumblr:before {
  content: '\73';
}
/* 's' */
.icon-instagram:before {
  content: '\74';
}
/* 't' */
.icon-mail:before {
  content: '\75';
}
/* 'u' */
.icon-picture:before {
  content: '\e800';
}
/* '' */
.icon-camera:before {
  content: '\e801';
}
/* '' */
.icon-videocam:before {
  content: '\e802';
}
/* '' */
.icon-doc-text-inv:before {
  content: '\e803';
}
/* '' */
.icon-doc-text:before {
  content: '\e804';
}
/* '' */
.icon-calendar:before {
  content: '\e805';
}
/* '' */
.icon-chart-bar:before {
  content: '\e806';
}
/* '' */
.icon-table:before {
  content: '\e807';
}
/* '' */
.icon-location:before {
  content: '\e808';
}
/* '' */
.icon-map:before {
  content: '\e809';
}
/* '' */
.icon-share:before {
  content: '\e80a';
}
/* '' */
.icon-clock:before {
  content: '\e80b';
}
/* '' */
.icon-money:before {
  content: '\e80c';
}
/* '' */
.icon-dollar:before {
  content: '\e80d';
}
/* '' */
/**
 * Grantee page & Innovation Fund landing
 */
.single-grantee .grantee > header,
.home .grantee > header,
.single-grantee .page > header,
.home .page > header {
  position: relative;
  background-color: #eee;
}
.single-grantee .info,
.home .info {
  position: absolute;
  right: 55px;
  top: 18%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 0;
}
.single-grantee .info p,
.home .info p {
  font-size: 100%;
  margin-bottom: 0;
}
@media screen and (max-width: 980px) {
  .single-grantee .info,
  .home .info {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .single-grantee .info,
  .home .info {
    width: auto;
    left: 20px;
    right: 20px;
    top: 20px;
  }
  .single-grantee .info p,
  .home .info p {
    font-size: 88%;
  }
}
@media screen and (max-width: 480px) {
  .single-grantee .info,
  .home .info {
    position: static;
    clear: both;
    width: 100%;
    padding: 10px;
    float: none;
  }
}
.single-grantee .prev-next a {
  position: absolute;
  font-size: 34px;
  color: white;
  opacity: 0.7;
  top: 48%;
  transition: all 0.1s ease;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 2px 10px;
}
@media screen and (max-width: 768px) {
  .single-grantee .prev-next a {
    top: 45%;
    font-size: 28px;
    padding: 2px 7px;
  }
}
@media screen and (max-width: 480px) {
  .single-grantee .prev-next a {
    top: 2%;
  }
}
.single-grantee .prev-next a[rel='prev'] {
  left: 0;
}
.single-grantee .prev-next a[rel='next'] {
  right: 0;
  text-align: right;
}
.single-grantee .prev-next a:hover {
  text-decoration: none;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.single-grantee .prev-next a:hover span {
  width: 140px;
}
.single-grantee .prev-next a span {
  transition: all 0.1s ease;
  font-size: 18px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 0;
  padding-bottom: 7px;
}
.single-grantee .grantee-links {
  margin: 0 -1px;
}
.single-grantee .grantee-links ul {
  overflow: hidden;
  margin: 0 auto;
}
.single-grantee .grantee-links li {
  display: block;
  float: left;
  width: 33.33333333%;
}
.single-grantee .grantee-links a {
  display: block;
  background-color: #eee;
  transition: all 0.3s ease;
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.single-grantee .grantee-links a i {
  font-size: 200%;
  color: black;
  vertical-align: middle;
}
.single-grantee .grantee-links a:hover {
  background-color: #ddd;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .single-grantee .grantee-links a {
    font-size: 80%;
  }
}
@media screen and (max-width: 480px) {
  .single-grantee .grantee-links a {
    font-size: 0;
  }
  .single-grantee .grantee-links a i {
    font-size: 18px;
  }
}
.single-grantee .timeline {
  display: none;
  position: relative;
  overflow: hidden;
}
.single-grantee .timeline .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 80%;
}
.single-grantee .timeline .close:hover {
  text-decoration: none;
}
.single-grantee .timeline iframe {
  border-bottom: 1px solid #666;
}
.single-grantee .grantee-posts {
  margin: 1em auto;
  float: none;
}
@media screen and (max-width: 480px) {
  .single-grantee .grantee-posts {
    width: 90%;
  }
}
.single-grantee .grantee-posts a[rel="next"] {
  float: right;
}
.single-grantee .grantee-posts a[rel="next"]:after {
  content: " »";
}
.single-grantee .grantee-posts a[rel="prev"] {
  float: left;
}
.single-grantee .grantee-posts a[rel="prev"]:before {
  content: "« ";
}
.single-grantee .entry-content.with-hero .tag-list {
  display: none;
}
.mailchimp-signup-widget {
  margin-bottom: 24px;
  text-align: center;
}
.mailchimp-signup-widget .widgettitle {
  font-size: 21px;
}
.mailchimp-signup-widget p {
  font-size: 16px;
  margin-bottom: 8px;
}
.mailchimp-signup-widget .email_address {
  margin-top: 8px;
}
