@import "../../inn/less/variables.less";
@import "../../inn/less/common.less";
@largoorange: #f48030;
@largoyellow: #ffcf73;

.site-hero {
  width: 100%;
  text-align: center;
  img {
    margin: 2em auto 1em;
    display: block;
    width: 300px;
  }
  .tagline {
    color: #666;
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .btn {
	padding: 24px 36px;
	font-size: 18px;
    margin-bottom: 0.5em;
  }
}

.footer-bg {
  background: transparent;
  #site-footer {
    padding-top: 3em;
    border-top: 1px solid #ddd;
    color: #111;
    text-align: center;

    p {
      font-size: 16px;
      margin: 0;
    }

    .github-star-fork {
      margin-bottom: 2em;
    }
    ul.largo-links {
      margin: 2em 0;
      li {
        font-size: 16px;
        list-style-type: none;
        margin-right: 12px;
        display: inline;
      }
    }
  }
}

@media (max-width: 480px) {
  .site-hero .tagline {
    font-size: 15px;
  }
  #site-footer .credit-and-license p {
    margin-bottom: 0.75em;
    font-size: 13px;
  }
}