@import "../../../../inn/less/variables.less";

.home {
  #biggo,
  #topics {
    clear: both;
    padding: 5vw 2vw;

    .widget {
      display: inline-block;
      margin-right: percentage( 10 / 1170 );
      margin-left: percentage( 10 / 1170 );
      min-width: 200px;
      vertical-align: top;
      text-align: left;
    }
    span[data-picture] {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 20px;
      font-size: ~"calc( 10px + 2vw )";
      margin-bottom: 12px;
    }
    h2 a, p a {
      color: @black;
    }
    .widgettitle {
      font-size: 24px;
      margin-bottom: 4px;
      line-height: 1.2;
      color: @blue;
      text-transform: none;
    }
    p {
      font-size: 15px;
    }
  }
  #biggo {
    background-color: @xltgray;
    display: flex;
    align-items: center;
    justify-content: center;

    .widget {
      margin-bottom: 0;
    }
    .widget_media_image {
      flex-basis: 10em;
      @media ( max-width: 768px ) {
        display: none;
      }
    }
    .widget_text {
      flex-basis: 30em;
    }
  }
  #topics {
    h2 {
      text-align: center;
      &::before,
      &::after {
        display: inline-block;
        vertical-align: center;
        width: 4em;
        height: 0.23em;
        background-color: @orange;
        content: " ";
        margin-bottom: 0.23em;
        margin-top: 0.23em;
      }
      &::before {
        margin-right: 1.3em;
      }
      &::after {
        margin-left: 1.3em;
      }
    }
    .description {
      margin: 0 auto;
      max-width: 30em;
    }
  }
  #topics-container {
    margin-top: 5vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .widget {
      flex: 0 1 240px;
    }
  }
}
