@import "../../../../inn/less/variables.less";

.home {
  .stories article {
    border-bottom: none;
    img.attachment-medium {
      max-width: 100%;
    }
  }
  #courses,
  #guides {
    clear: both;
    > h1,
    > .description {
      text-align: center;
    }
    ul {
      margin: 0;
      padding: 0;
      text-align: left;
      overflow: hidden; //clearfix
      font-size: 0;    // inline-block spacing hack
    }
    li {
      display: inline-block;
      margin-right: percentage( 10 / 1170 );
      margin-left: percentage( 10 / 1170 );
      min-width: 200px;
      vertical-align: top;
      text-align: left;
    }
    span[data-picture] {
      max-width: 100%;
      height: auto;
    }
    br {
      clear: left;
    }
    h1 {
      font-size: 40px;
      margin-bottom: 12px;
    }
    h4 {
      font-size: 24px;
      margin-bottom: 4px;
      line-height: 1.2;
    }
    p {
      font-size: 15px;
    }
  }
  #courses li {
    width: 31.62393162393162%;
  }
  #guides li {
    width: percentage( .25 * (1090.0/1170) );
  }
}

#home-search {
  background-color: @ltgray;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  padding-top: 10em;
  padding-bottom: 4em;
  text-align: center;

  h3 {
    color: @white;
    text-shadow: 0 0 20px @black;
  }
  button {
    margin-left: 1em;
  }
  button, input {
    box-shadow: 5px 5px 40px rgba(0,0,0,0.5);
  }
  @media (min-width: 769px) {
    h3 {
      font-size: 2em;
    }
    input[type=text] {
      width: 320px;
    }
  }

  position: relative;

  // these styles adopted from the defualt unsplash photo credits
  .photo-credit {
    text-align: right;
    display: inline-block;
    width: auto;

    position: absolute;
    bottom: 1em;
    right: 1em;

    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    border-radius:3px;

    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    
    span {
      display:inline-block;
      padding:2px 3px;
    }
  }
}

#email {
  .mc-field-group {
    display: inline;
  }
  input {
    margin-bottom: 0;
    max-width: 350px;
  }
  input.btn {
    max-width: 150px;
  }
}

@media screen and (max-width: 980px) {
  .home #guides li {
    width: 31.62393162393162%;
  }
}
@media screen and (max-width: 768px) {
  .home {
    #courses li,
    #guides li {
      width: 48%;
      margin-left: 1%;
      margin-right:1%;
    }
  }
}
@media screen and (max-width: 480px) {
  .home {
    #courses li,
    #guides li {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    #main {
      margin-top: 0;
    }
  }
}
