.home .stories article {
  border-bottom: none;
}
.home .stories article img.attachment-medium {
  max-width: 100%;
}
.home #courses,
.home #guides {
  clear: both;
}
.home #courses > h1,
.home #guides > h1,
.home #courses > .description,
.home #guides > .description {
  text-align: center;
}
.home #courses ul,
.home #guides ul {
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: hidden;
  font-size: 0;
}
.home #courses li,
.home #guides li {
  display: inline-block;
  margin-right: 0.85470085%;
  margin-left: 0.85470085%;
  min-width: 200px;
  vertical-align: top;
  text-align: left;
}
.home #courses span[data-picture],
.home #guides span[data-picture] {
  max-width: 100%;
  height: auto;
}
.home #courses br,
.home #guides br {
  clear: left;
}
.home #courses h1,
.home #guides h1 {
  font-size: 40px;
  margin-bottom: 12px;
}
.home #courses h4,
.home #guides h4 {
  font-size: 24px;
  margin-bottom: 4px;
  line-height: 1.2;
}
.home #courses p,
.home #guides p {
  font-size: 15px;
}
.home #courses li {
  width: 31.62393162393162%;
}
.home #guides li {
  width: 23.29059829%;
}
#home-search {
  background-color: #aaaaaa;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 10em;
  padding-bottom: 4em;
  text-align: center;
  position: relative;
}
#home-search h3 {
  color: white;
  text-shadow: 0 0 20px #000000;
}
#home-search button {
  margin-left: 1em;
}
#home-search button,
#home-search input {
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
}
@media (min-width: 769px) {
  #home-search h3 {
    font-size: 2em;
  }
  #home-search input[type=text] {
    width: 320px;
  }
}
#home-search .photo-credit {
  text-align: right;
  display: inline-block;
  width: auto;
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 3px;
  opacity: 0.5;
}
#home-search .photo-credit:hover {
  opacity: 1;
}
#home-search .photo-credit span {
  display: inline-block;
  padding: 2px 3px;
}
#boxes {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
#boxes .widget {
  vertical-align: top;
  display: inline-block;
  max-width: 300px;
  margin: 1em;
  padding: 0;
  box-shadow: 0.7em 0.7em 0 #000000;
  border: 2px solid #000000;
}
#boxes .widget:hover {
  box-shadow: 0.7em 0.7em 0 #09c9ff;
  border: 2px solid #09c9ff;
}
#boxes .widget a {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #000000;
  text-decoration: none;
}
#boxes .widget a:hover {
  text-decoration: none;
}
#boxes .widget h3 {
  line-height: 1.2;
  font-size: 20px;
  height: 48px;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  flex-basis: fill;
  justify-content: center;
}
#email .mc-field-group {
  display: inline;
}
#email input {
  margin-bottom: 0;
  max-width: 350px;
}
#email input.btn {
  max-width: 150px;
}
@media screen and (max-width: 980px) {
  .home #guides li {
    width: 31.62393162393162%;
  }
}
@media screen and (max-width: 768px) {
  .home #courses li,
  .home #guides li {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 480px) {
  .home #courses li,
  .home #guides li {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .home #main {
    margin-top: 0;
  }
}
