.home #top,
.home #guides {
  clear: both;
  padding: 5vw 2vw;
}
.home #top .widget,
.home #guides .widget {
  display: inline-block;
  margin-right: 0.85470085%;
  margin-left: 0.85470085%;
  min-width: 200px;
  vertical-align: top;
  text-align: left;
}
.home #top span[data-picture],
.home #guides span[data-picture] {
  max-width: 100%;
  height: auto;
}
.home #top h2,
.home #guides h2 {
  font-size: 20px;
  font-size: calc( 10px + 2vw );
  margin-bottom: 12px;
}
.home #top h2 a,
.home #guides h2 a,
.home #top p a,
.home #guides p a {
  color: #1c1c1c;
}
.home #top .widgettitle,
.home #guides .widgettitle {
  font-size: 24px;
  margin-bottom: 4px;
  line-height: 1.2;
  color: #0089bb;
  text-transform: none;
}
.home #top p,
.home #guides p {
  font-size: 15px;
}
.home #top {
  background-color: #edf1f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home #top .widget {
  margin-bottom: 0;
}
.home #top .widget_media_image {
  flex-basis: 10em;
}
@media (max-width: 768px) {
  .home #top .widget_media_image {
    display: none;
  }
}
.home #top .widget_text {
  flex-basis: 30em;
}
.home #guides h2 {
  text-align: center;
}
.home #guides .description {
  margin: 0 auto;
  max-width: 30em;
}
.home #guides-container {
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.home #guides-container .widget {
  flex: 0 1 290px;
}
