#home-search {
  background-color: #aaa;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 10em;
  padding-bottom: 4em;
  text-align: center;
  position: relative;
}
#home-search h3 {
  color: white;
  text-shadow: 0 0 20px #000;
}
#home-search button {
  margin-left: 1em;
}
#home-search button,
#home-search input {
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
}
@media (min-width: 769px) {
  #home-search h3 {
    font-size: 2em;
  }
  #home-search input[type=text] {
    width: 320px;
  }
}
#home-search .photo-credit {
  text-align: right;
  display: inline-block;
  width: auto;
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 3px;
  opacity: 0.5;
}
#home-search .photo-credit:hover {
  opacity: 1;
}
#home-search .photo-credit span {
  display: inline-block;
  padding: 2px 3px;
}
#boxes {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
#boxes .widget {
  vertical-align: top;
  display: inline-block;
  max-width: 300px;
  margin: 1em;
  padding: 0;
  box-shadow: 0.7em 0.7em 0 #000;
  border: 2px solid #000;
}
#boxes .widget:hover {
  box-shadow: 0.7em 0.7em 0 #09c9ff;
  border: 2px solid #09c9ff;
}
#boxes .widget a {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #000;
  text-decoration: none;
}
#boxes .widget a:hover {
  text-decoration: none;
}
#boxes .widget h3 {
  line-height: 1.2;
  font-size: 20px;
  height: 48px;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  flex-basis: fill;
  flex: 1 1 auto;
  justify-content: center;
}
#email p,
#email input.btn {
  font-size: 16px;
}
#email input {
  margin-bottom: 0;
  max-width: 200px;
}
#email input.btn {
  max-width: 150px;
}
@media (min-width: 960px) {
  #email {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #email p,
  #email form {
    flex: 1 1 47.5%;
  }
  #email p {
    text-align: right;
    padding-right: 1em;
    margin-bottom: 0;
  }
  #email .break-desktop {
    display: block;
  }
}
