@import "variables.less";
@import "utilities.less";

.normal {
  .row-fluid {
    margin: 0 0 4em 0;
  }
  h3 span {
      color: @dkgray;
  }
}

.page-content {
  p {
    font-family: @serif;
    font-size: 1em;
    line-height: 1.7em;
  }
}

#quick-links {
  text-align: center;
  h4 {
    color: @dkgray;
    text-transform: uppercase;
  }
  li {
    font-size: 1.25em;
    display: inline-block;
    margin: 0 20px 0 0;
  }
}

#news-and-benefits {
  .widget {
    padding: 0;
  }
}
