@xltgray: #efefef;
@ltgray: #aaa;
@medgray: #777;
@dkgray: #555;
@xdkgray: #333;

@blue: #22C2F3;
@orange: #FF9657;
@red: #DD484A;

@btnbg: @blue;
@btnprimarybg: @orange;

@linkcolor: @blue;
@linkhover: lighten(@linkcolor, 10%);

@uxspeed: 0.2s;

@serif: "leitura-news",georgia,serif; // 300,600
@sans: "effra",helvetica,sans-serif; // 300,400,500,700