// branding imports from INN
@import "../../inn/less/variables.less";
@import "../../inn/less/common.less";

@breakpoint: 769px;
@stickyNavLineHeight: 56px;


// local styles
@import "guides.less";

#breadcrumbs  {
  font-family: @sans;
  font-weight: 700;
  margin-bottom: 24px;
  @media (max-width: @breakpoint) {
    display: none;
  }
}

#site-header,
.home #site-header {
  min-height: 0;
}

#main {
  @media screen and (max-width:@breakpoint) {
    margin-top: @stickyNavLineHeight;
  }
}
#content {
  margin-left: 0;
}
#branding img {
  margin: 24px auto 18px;
  display: block;
  max-width: 400px;
  padding: 0 5%;
  width: 90%;
}
body.normal.page #content.guide-page {
  margin-left: 0;
}
