@import "../../../less/variables.less";

.home {
  #page {
    max-width: 100%;
    padding: 0;
  }
  #main {
    margin-top: 0;
  }
  #hero,
  section.interstitial {
    max-width: 100%;
    background-color: @dkgray;
  }
  section,
  .interstitial .content {
    margin: 0 auto;
    max-width: 1170px;
  }
  #hero {
    background: url(../img/hero_one.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 4em;
    padding: 300px 0;
    .content {
	  h2 {
		margin: 0 auto;
	    text-align: center;
	    color: #fff;
	    font-size: 4em;
	    font-weight: 500;
	    text-shadow: 0px 1px 8px rgba(0,0,0,0.65);
	  }
    }
  }
  .normal {
	height: auto;
	h3 {
	  display: block;
	  text-align: center;
      text-transform: uppercase;
      width: 62%;
      background-color: @blue;
      color: @blue;
      line-height: 10px;
      margin: 2em auto 1.5em;
      span {
	    background-color: #fff;
	    padding: 0 60px;
      }
	}
  }
  .interstitial {
    max-width: 100%;
    padding: 3em;
    margin: 0 auto 3em;
    background-color: @dkgray;
    color: @xltgray;
    h3 {
	  color: @xltgray;
    }
  }
  .row-fluid {
	.span4 {
	  text-align: center;
	  padding: 2em 5em;
	}
	img {
	  width: 50px;
	  height: 50px;
	  margin-bottom: 1em;
	}
	h5 {
      font-size: 20px;
	  font-weight: 400;
	  margin-bottom: 0.25em;
	  a {
		color: @medgray;
		&:hover {
		  color: @blue;
		}
	  }
	}
	p {
	  font-size: 16px;
	  font-weight: 300;
	}
  }
  #programs,
  #member-info {
    h3 {
	  background-color: @orange;
	  color: @orange;
	}
	h5 a:hover {
	  color: @orange;
	}
  }
  #hire-us {
    padding: 3em;
    text-align: center;
    h5 {
	  color: #fff;
    }
  }
  #email,
  #testimonial {
    img {
	  float: left;
	  margin: 1em 3em 1em 1em;
    }
  }
  #email {
    img {
	  margin: 0 10% 0 0;
	  display: block;
	  width: 15%;
	  height: auto;
    }
    .content-inner {
	  float: right;
	  width: 75%;
    }
    .content {
	  display: block;
	  overflow: auto;
    }
    h3 {
	  font-weight: 400;
      text-transform: uppercase;
      font-size: 2em;
      margin-bottom: 0.25em;
      text-align: left;
    }
    form {
	  display: block;
	  float: none;
	  margin: 0 auto;
    }
    input {
	  float: left;
	  margin-right: 6px;
	  padding: 12px 10px;
	  width: 400px
    }
    input.btn {
	  display: block;
	  float: left;
	  clear: none;
	  padding: 13px 1em;
	  width: 200px;
    }
  }
  #testimonial {
    p.credit {
      text-align: right;
    }
    .btn {
	  display: block;
	  max-width: 50%;
	  margin: 0 auto;
	}
  }

  #members {
    height: auto;
    background: none;
    h3 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
	}
  }
  #supporters {
	.span4 {
	  padding: 2em;
	}
    li {
	  list-style: none;
	  text-align: left;
	  margin-bottom: 1em;
	  color: @medgray;
	  a {
	    color: @medgray;
	  }
    }
  }
}


@media (max-width: 1170px) {

}

@media (max-width: 800px) {
  .home {
    #email,
    #testimonial {
	  padding: 1.5em;
	  img {
		float: none;
		display: block;
	    margin: 0 auto;
	  }
	  h3 {
	    text-align: center;
	  }
    }
    #email {
	  img {
	    width: auto;
	  }
      .content-inner {
	    float: none;
	    margin: 0 auto;
	    width: 100%;
      }
	  p {
        text-align: center;
	  }
	  input,
	  .btn {
	    display: block;
	    float: none;
	    margin: 0 auto 0.5em;
	  }
    }
  }
}
@media (max-width: 480px) {
  .normal .row-fluid .span4,
  .normal .row-fluid .span3 {
    width: 95%;
    margin: 0 2.5%;
  }
  .home {
    #hero .content {
	  margin: 2.5em auto 2em;
	  h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
      }
      h3 {
	    font-size: 1.25em;
      }
    }
    .normal {
	  h3 {
        font-size: 2em;
	  }
    }
    #supporters {
	  .span4 {
	    padding: 0 1em;
	  }
      ul {
	    margin-bottom: 0;
	    li {
	      text-align: center;
	    }
      }
    }
  }
}
