@innblue: #2275be;
@innltblue: #90bfe7;
@inngray: #bbb;
@ltgray: #efefef;
@dkgray: #333;
@medgray: #666;

.home {
  #page {
    max-width: 100%;
    padding: 0;
  }
  #hero,
  section.interstitial {
    max-width: 100%;
    background-color: @ltgray;
    height: 100px;
  }
  section,
  .interstitial .content {
    margin: 0 auto 3em;
    max-width: 1170px;
    height: 100px;
  }
  #hero {
    height: auto;
    padding: 1em;
    .content {
	  margin: 4em auto;
	  max-width: 800px;
	  text-align: center;
	  h1 {
	    text-transform: uppercase;
	    font-size: 4em;
	  }
	  h3 {
	    color: @medgray;
	    font-size: 2em;
	    font-weight: 500;
	  }
    }
  }
  .normal {
	height: auto;
	h3 {
      text-align: center;
      text-transform: uppercase;
	}
    .row-fluid {
	  text-align: center;
	  .span4,
	  .span3 {
	    padding: 1em 2em;
	  }
	  img.icon {
	    margin-bottom: 1em;
	  }
	  h5 {
	    font-weight: 400;
	    margin-bottom: 0.25em;
	  }
	  p {
	    font-weight: 300;
	  }
    }
  }
  #email {
    width: 100%;
    padding: 3em;
    border: 20px solid @dkgray;
    img {
	  float: left;
	  margin: 1em 3em 1em 1em;

    }
    h3 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2em;
      margin-bottom: 0.25em;
      text-align: left;
    }
  }
}