@innblue: #2275be;
@innltblue: #90bfe7;
@inngray: #bbb;
@ltgray: #efefef;
@dkgray: #333;
@purple: #694b6a;
@red: #e76756;
@orange: #f48030;
@yellow: #ffcf73;

@import "header.less";
@import "footer.less";