#main,
.home-top {
  position: relative;
}
#homepage-featured {
  margin-bottom: 24px;
}
.home-top {
  float: left;
}
.home .full-hero img {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: block;
  float: left;
}
#dark-top {
  color: white;
  background-color: black;
  font-family: sans-serif;
}
#dark-top .span12 {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 20px;
}
#homepage-featured .span3 .story {
  margin-bottom: 12px;
}
#homepage-featured .span3 h3 {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 10px;
  font-size: 18px;
}
#homepage-featured .span3 h3 a {
  color: #fff;
}
#dark-top article {
  margin-bottom: 0;
  border-bottom: none;
}
#dark-top p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 0;
}
#dark-top h2 {
  font-size: 44px;
  line-height: 1.1em;
  margin-bottom: 4px;
}
#dark-top h2 a {
  color: white;
}
#dark-top h5 a {
  color: #6cb9e1;
}
#dark-top section {
  color: #ddd;
}
#dark-top .byline {
  display: none;
}
#homepage-bottom .byline {
  font-size: 13px;
}

@media screen and (max-width: 980px) {
  #dark-top.overlay {
    bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  #dark-top {
    position: relative !important;
    margin-top: -140px !important;
    bottom: auto !important;
  }
  #dark-top .span10 {
    width: 100%;
    margin: 0 auto;
  }
  #dark-top .row-fluid [class*='span'] {
    /*float: none;*/

    width: 100%;
    margin: 0;
  }
  #dark-top .span4 {
    margin-top: 30px !important;
  }
  #dark-top .related-story {
    margin-left: 0;
  }
  #dark-top.overlay {
    background-color: black;
  }
}
@media screen and (max-width: 480px) {
  .home .full-hero {
    min-height: 50px;
  }
  #dark-top {
    margin-top: -40px !important;
  }
  #dark-top .span10 {
    padding: 15px 18px !important;
  }
}
