.home .funding-rounds {
  display: block;
  margin: 1px 0;
  padding: 0;
}
.home .funding-rounds p {
  margin-bottom: 0.25em;
}
.home .funding-rounds li.round {
  display: block;
  clear: both;
  position: relative;
  border-left: 50px solid #eee;
  min-height: 50px;
  margin-bottom: 1px;
  border-bottom: 1px solid #eee;
}
.home .funding-rounds header {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  bottom: 0;
  text-align: center;
}
.home .funding-rounds header h1 {
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 0;
}
.home .funding-rounds .active header > h1 {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  -webkit-transform-origin: left center;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
}
.home .funding-rounds .intro {
  padding: 4px 24px 12px;
}
.home .funding-rounds .intro p {
  font-size: 18px;
}
.home .funding-rounds article {
  border-bottom: 0;
  margin-bottom: 0;
}
.home .funding-rounds .grantee-list {
  overflow: hidden;
  margin: 0;
  padding: 4px 12px 12px;
}
.home .funding-rounds .grantee-list .grantee {
  width: 31.62393162393162%;
  margin: 0 0.8547008547008548% 24px;
  float: left;
}
.home .funding-rounds .grantee-list .grantee img {
  float: left;
  margin-right: -100px;
  width: 100px;
}
.home .funding-rounds .grantee-list .grantee > div {
  margin-left: 110px;
  margin-right: 15px;
}
.home .funding-rounds .grantee-list .grantee h3 {
  font-size: 17px;
  margin-bottom: 4px;
  line-height: 1.2em;
}
.home .funding-rounds .grantee-list .grantee p {
  font-size: 14px;
  line-height: 1.3;
}
.home .funding-rounds .grantee-list .grantee p.org-name {
  font-weight: bold;
}
.home .funding-rounds .grantee-list .grantee.item-4,
.home .funding-rounds .grantee-list .grantee.item-7 {
  clear: both;
}
@media screen and (max-width: 980px) {
  .home .funding-rounds .grantee-list .grantee {
    width: 45%;
  }
  .home .funding-rounds .grantee-list .grantee.item-4,
  .home .funding-rounds .grantee-list .grantee.item-7 {
    clear: none;
  }
  .home .funding-rounds .grantee-list .grantee.item-3,
  .home .funding-rounds .grantee-list .grantee.item-5,
  .home .funding-rounds .grantee-list .grantee.item-7,
  .home .funding-rounds .grantee-list .grantee.item-9 {
    clear: both;
  }
}
@media screen and (max-width: 768px) {
  .home .funding-rounds .grantee-list .grantee {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 12px 24px;
  }
  .home .funding-rounds .grantee-list .grantee img {
    width: 75px;
    margin-right: -75px;
    margin-bottom: 12px;
  }
  .home .funding-rounds .grantee-list .grantee > div {
    margin-left: 85px;
  }
}
