.home #page {
  max-width: 100%;
  padding: 0;
}
.home #main {
  margin: 0;
}
.home #hero {
  background: url(../img/yeller.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 4em;
  padding: 300px 0;
}
.home #hero .content h2 {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 4em;
  font-weight: 500;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.65);
}
@media (max-width: 600px) {
  .home #hero {
    margin-bottom: 1em;
  }
}
.home #main .row-fluid .span4 {
  text-align: center;
  padding: 2em 5em;
}
@media (max-width: 980px) {
  .home #main .row-fluid .span4 {
    padding: 1.5em 2em;
  }
}
@media (max-width: 600px) {
  .home #main .row-fluid .span4 {
    width: 100%;
    margin: 0;
    clear: both;
    padding: 0.5em 10%;
  }
}
.home #main .row-fluid img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.8em;
}
.home #main .row-fluid h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.25em;
}
.home #main .row-fluid h5 a {
  color: #777777;
}
.home #main .row-fluid h5 a:hover {
  color: #22c2f3;
}
.home #main .row-fluid p {
  font-size: 16px;
  font-weight: 300;
}
.home #programs h3,
.home #member-info h3 {
  background-color: #ff9657;
  color: #ff9657;
}
@media (max-width: 600px) {
  .home #programs h3,
  .home #member-info h3 {
    line-height: 1.5;
    background-color: transparent;
    margin-bottom: 0.5em;
  }
}
.home #programs h5 a:hover,
.home #member-info h5 a:hover {
  color: #ff9657;
}
.home #hire-us {
  padding: 3em;
  text-align: center;
}
.home #hire-us h5 {
  color: #fff;
}
.home #email img,
.home #testimonial img {
  float: left;
  margin: 1em 3em 1em 1em;
}
.home #email img {
  margin: 0 10% 0 0;
  display: block;
  width: 15%;
  height: auto;
}
.home #email .content {
  overflow: auto;
}
.home #email .content-inner {
  float: right;
  width: 75%;
}
.home #email h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: left;
}
.home #email form {
  display: block;
  float: none;
  margin: 0 auto;
}
.home #email input {
  float: left;
  margin-right: 6px;
  padding: 12px 10px;
  width: 400px;
}
.home #email input.btn {
  display: block;
  float: left;
  clear: none;
  padding: 13px 1em;
  width: 200px;
}
@media (max-width: 700px) {
  .home #email img {
    float: none;
    margin: 0 auto 1em;
    width: 30%;
  }
  .home #email .content {
    overflow: visible;
  }
  .home #email .content-inner {
    width: 100%;
    float: none;
    text-align: center;
  }
  .home #email h3 {
    text-align: center;
  }
  .home #email input {
    float: none;
    margin-right: 0;
    max-width: 75%;
  }
  .home #email input.btn {
    float: none;
    margin: 0 auto;
    clear: both;
  }
}
.home #testimonial img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  margin: 0 5em 0 0;
}
.home #testimonial p {
  padding: 0 4em;
  font-family: "leitura-news", georgia, serif;
  font-size: 21px;
}
.home #testimonial p.credit {
  text-align: right;
  font-family: "effra", helvetica, sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  .home #testimonial p {
    padding: 0 2em;
  }
  .home #testimonial p.credit {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .home #testimonial img {
    display: block;
    float: none;
    clear: both;
    margin: 0 auto 2em;
  }
  .home #testimonial p {
    padding: 0;
  }
  .home #testimonial p.credit {
    margin-bottom: 0;
  }
}
.home #members {
  height: auto;
  background: none;
  margin-bottom: 3em;
}
.home #members h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
.home #main #supporters {
  padding-top: 2em;
  background-color: #efefef;
  margin-bottom: 0;
  padding-bottom: 0;
}
.home #main #supporters .span4 {
  padding: 2em 2em 1em;
}
.home #main #supporters h3 {
  width: auto;
  color: #555555;
  background-color: transparent;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.home #main #supporters li {
  list-style: none;
  text-align: left;
  margin-bottom: 1em;
  color: #777777;
}
.home #main #supporters li a {
  color: #777777;
}
@media (max-width: 768px) {
  .home #main #supporters {
    padding-bottom: 2em;
  }
  .home #main #supporters .span4 {
    clear: both;
    width: 100%;
    padding: 0 2em;
    margin: 0;
  }
  .home #main #supporters h3 {
    margin-bottom: 1em;
  }
  .home #main #supporters li {
    text-align: center;
  }
}
