.home #page {
  max-width: 100%;
  padding: 0;
}
.home #main {
  margin-top: 0;
}
.home #hero,
.home section.interstitial {
  max-width: 100%;
  background-color: #555555;
}
.home section,
.home .interstitial .content {
  margin: 0 auto;
  max-width: 1170px;
}
.home #hero {
  background: url(../img/hero_one.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 4em;
  padding: 300px 0;
}
.home #hero .content h2 {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 4em;
  font-weight: 500;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.65);
}
.home .normal {
  height: auto;
}
.home .normal h3 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  width: 62%;
  background-color: #22c2f3;
  color: #22c2f3;
  line-height: 10px;
  margin: 2em auto 1.5em;
}
.home .normal h3 span {
  background-color: #fff;
  padding: 0 60px;
}
.home .interstitial {
  max-width: 100%;
  padding: 3em;
  margin: 0 auto 3em;
  background-color: #555555;
  color: #efefef;
}
.home .interstitial h3 {
  color: #efefef;
}
.home .row-fluid .span4 {
  text-align: center;
  padding: 2em 5em;
}
.home .row-fluid img {
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
}
.home .row-fluid h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.25em;
}
.home .row-fluid h5 a {
  color: #777777;
}
.home .row-fluid h5 a:hover {
  color: #22c2f3;
}
.home .row-fluid p {
  font-size: 16px;
  font-weight: 300;
}
.home #programs h3,
.home #member-info h3 {
  background-color: #ff9657;
  color: #ff9657;
}
.home #programs h5 a:hover,
.home #member-info h5 a:hover {
  color: #ff9657;
}
.home #hire-us {
  padding: 3em;
  text-align: center;
}
.home #hire-us h5 {
  color: #fff;
}
.home #email img,
.home #testimonial img {
  float: left;
  margin: 1em 3em 1em 1em;
}
.home #email img {
  margin: 0 10% 0 0;
  display: block;
  width: 15%;
  height: auto;
}
.home #email .content-inner {
  float: right;
  width: 75%;
}
.home #email .content {
  display: block;
  overflow: auto;
}
.home #email h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: left;
}
.home #email form {
  display: block;
  float: none;
  margin: 0 auto;
}
.home #email input {
  float: left;
  margin-right: 6px;
  padding: 12px 10px;
  width: 400px;
}
.home #email input.btn {
  display: block;
  float: left;
  clear: none;
  padding: 13px 1em;
  width: 200px;
}
.home #testimonial p.credit {
  text-align: right;
}
.home #testimonial .btn {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}
.home #members {
  height: auto;
  background: none;
}
.home #members h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
.home #supporters .span4 {
  padding: 2em;
}
.home #supporters li {
  list-style: none;
  text-align: left;
  margin-bottom: 1em;
  color: #777777;
}
.home #supporters li a {
  color: #777777;
}
@media (max-width: 1170px) {
  
}
@media (max-width: 800px) {
  .home #email,
  .home #testimonial {
    padding: 1.5em;
  }
  .home #email img,
  .home #testimonial img {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .home #email h3,
  .home #testimonial h3 {
    text-align: center;
  }
  .home #email img {
    width: auto;
  }
  .home #email .content-inner {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .home #email p {
    text-align: center;
  }
  .home #email input,
  .home #email .btn {
    display: block;
    float: none;
    margin: 0 auto 0.5em;
  }
}
@media (max-width: 480px) {
  .normal .row-fluid .span4,
  .normal .row-fluid .span3 {
    width: 95%;
    margin: 0 2.5%;
  }
  .home #hero .content {
    margin: 2.5em auto 2em;
  }
  .home #hero .content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .home #hero .content h3 {
    font-size: 1.25em;
  }
  .home .normal h3 {
    font-size: 2em;
  }
  .home #supporters .span4 {
    padding: 0 1em;
  }
  .home #supporters ul {
    margin-bottom: 0;
  }
  .home #supporters ul li {
    text-align: center;
  }
}
